{% extends "base.html" %}

{% block content %}
<h1 id="welcome-user">Hi, {{ current_user.username }}</h1>

<div class="container">
    <form class="autocomplete-form" action="/search" method="POST">
        <input id="autocomplete" type="text" name="autocomplete" class="form-control"
            placeholder="Search for CustomerID, Customer Name, Address, Phone Number, A/C number"
            onkeydown="searchAutoComplete(this.value)">
        <button id="search-button" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

{% if resulted_dict %} {% if resulted_dict|length > 0 %}
<div>   
    <table id=search_result_table>
        <caption id="table_caption">Search Results fetched for <span>{{resulted_dict[0].name}}</span></caption>
        <tr>
            <th id="table-customer-id"> Customer ID </th>
            <th id="table-customer-name"> Customer Name </th>
            <th id="table-phone-number"> Phone Number </th>
            <th id="table-customer-address"> Address </th>
            <th id="table-customer-account"> Account </th>
        </tr>
        {% for result in resulted_dict %}
        <tr class="table-data">
            <td><a href="{{url_for('graph_generation',customer_id = result.id)}}"> {{ result.id }}</a> </td>
            <td> {{ result.name }}</td>
            <td> {{ new_line(result.phone)}} </td>
            <td> {{ new_line(result.address) }}</td>
            <td> {{ new_line(result.account) }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %} {% elif customer_search|length > 0 %}
<h3 id="no_records">No records found for <span id="customer_search">{{customer_search}}</span></h3>
{% endif %} {% endblock %}

{% macro new_line(input_string) %}
{% if input_string %}
{% for line in input_string.split( '|' ) %}
{{ line }}
<br />
{% endfor %}
{% else %}
{{input_string}}
{% endif %}
{% endmacro %}